body {
  padding: 0;
  margin: 0;
  background-color: rgb(142, 142, 143);
}
h1 {
  background-color: rgb(25, 25, 25);
  color: white;
}

#map,
body,
html {
  height: 100%;
}


.legend {
  line-height: 18px;
  color: #151414;
  background: #e34e4e;
  border: 2px solid #000;
  padding: 10px;
  margin: 10px;
}
.legend i {
  width: 18px;
  height: 18px;
  float: center;
  margin-right: 8px;
  opacity: 2;
}

.column {
  float: right;
  width: 32%;
  color: white;
  column-gap: 80px;
  column-rule-width: 10px
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  background-color: #101010;
  padding: 20px;
  text-align: center;
  color: 'white';
}

.footer {
  background-color: #545555;
  text-align: center;
  padding: 20px;
  color: 'white'
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
